<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SailPlaneLaunch.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <SailPlaneLaunch.My.MySettings>
            <setting name="mustUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="preTensionOfLineValue" serializeAs="String">
                <value />
            </setting>
            <setting name="preTensionOfLineUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="takeOffSpeedValue" serializeAs="String">
                <value />
            </setting>
            <setting name="takeOffSpeedUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="startFlapPosValue" serializeAs="String">
                <value />
            </setting>
            <setting name="startFlapPosUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="gammaR0Value" serializeAs="String">
                <value />
            </setting>
            <setting name="gammaR0Unit" serializeAs="String">
                <value />
            </setting>
            <setting name="gammaR1Value" serializeAs="String">
                <value />
            </setting>
            <setting name="gammaR1Unit" serializeAs="String">
                <value />
            </setting>
            <setting name="gammaR2Value" serializeAs="String">
                <value />
            </setting>
            <setting name="gammaR2Unit" serializeAs="String">
                <value />
            </setting>
            <setting name="gammaR3Value" serializeAs="String">
                <value />
            </setting>
            <setting name="gammaR3Unit" serializeAs="String">
                <value />
            </setting>
            <setting name="diveStartAngleValue" serializeAs="String">
                <value />
            </setting>
            <setting name="diveStartAngleUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="speedFlapPosValue" serializeAs="String">
                <value />
            </setting>
            <setting name="speedFlapPosUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="climbAngleValue" serializeAs="String">
                <value />
            </setting>
            <setting name="climbAngleUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="wingSpanValue" serializeAs="String">
                <value />
            </setting>
            <setting name="wingSpanUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="wingLoadingValue" serializeAs="String">
                <value />
            </setting>
            <setting name="wingLoadingUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="ARValue" serializeAs="String">
                <value />
            </setting>
            <setting name="ARUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="refReValue" serializeAs="String">
                <value />
            </setting>
            <setting name="refReUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="cdInferenceValue" serializeAs="String">
                <value />
            </setting>
            <setting name="cdInferenceUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="cdInducedFactorValue" serializeAs="String">
                <value />
            </setting>
            <setting name="cdInducedFactorUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="cdParasiticSpeedFlapValue" serializeAs="String">
                <value />
            </setting>
            <setting name="cdParasiticSpeedFlapUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="cdParasiticStartFlapValue" serializeAs="String">
                <value />
            </setting>
            <setting name="cdParasiticStartFlapUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="clAlphaCoeffValue" serializeAs="String">
                <value />
            </setting>
            <setting name="clAlphaCoeffUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="maxLoadFactorValue" serializeAs="String">
                <value />
            </setting>
            <setting name="maxLoadFactorUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="speedFlapCl0Value" serializeAs="String">
                <value />
            </setting>
            <setting name="speedFlapCl0Unit" serializeAs="String">
                <value />
            </setting>
            <setting name="startFlapCl0Value" serializeAs="String">
                <value />
            </setting>
            <setting name="startFlapCl0Unit" serializeAs="String">
                <value />
            </setting>
            <setting name="reCoeffValue" serializeAs="String">
                <value />
            </setting>
            <setting name="reCoeffUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="drumDiameterValue" serializeAs="String">
                <value />
            </setting>
            <setting name="drumDiameterUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="drumLengthValue" serializeAs="String">
                <value />
            </setting>
            <setting name="drumLengthUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="wstValue" serializeAs="String">
                <value />
            </setting>
            <setting name="wstUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="wzsValue" serializeAs="String">
                <value />
            </setting>
            <setting name="wzsUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="distanceToPulleyValue" serializeAs="String">
                <value />
            </setting>
            <setting name="distanceToPulleyUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="windSpeedValue" serializeAs="String">
                <value />
            </setting>
            <setting name="windSpeedUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="thermicCeilValue" serializeAs="String">
                <value />
            </setting>
            <setting name="thermicCeilUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="thermicValue" serializeAs="String">
                <value />
            </setting>
            <setting name="thermicUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="tempAtGroundValue" serializeAs="String">
                <value />
            </setting>
            <setting name="tempAtGroundUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="pressureAtGroundValue" serializeAs="String">
                <value />
            </setting>
            <setting name="pressureAtGroundUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="humidityValue" serializeAs="String">
                <value />
            </setting>
            <setting name="humidityUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="lineDiameterValue" serializeAs="String">
                <value />
            </setting>
            <setting name="lineDiameterUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="totalLineLengthValue" serializeAs="String">
                <value />
            </setting>
            <setting name="totalLineLengthUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="EModuleValue" serializeAs="String">
                <value />
            </setting>
            <setting name="EModuleUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="lineDragCoefficientValue" serializeAs="String">
                <value />
            </setting>
            <setting name="lineDragCoefficientUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="parachuteDragCoeffcientValue" serializeAs="String">
                <value />
            </setting>
            <setting name="parachuteDragCoeffcientUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="parachuteAreaValue" serializeAs="String">
                <value />
            </setting>
            <setting name="parachuteAreaUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="dtValue" serializeAs="String">
                <value />
            </setting>
            <setting name="dtUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="maxTValue" serializeAs="String">
                <value />
            </setting>
            <setting name="maxTUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="launchAngleValue" serializeAs="String">
                <value />
            </setting>
            <setting name="launchAngleUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="setpointAOAValue" serializeAs="String">
                <value />
            </setting>
            <setting name="setpointAOAUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="outgroundSpeedXValue" serializeAs="String">
                <value />
            </setting>
            <setting name="outgroundSpeedXUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="outvValue" serializeAs="String">
                <value />
            </setting>
            <setting name="outvUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="outaxValue" serializeAs="String">
                <value />
            </setting>
            <setting name="outaxUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="outayValue" serializeAs="String">
                <value />
            </setting>
            <setting name="outayUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="outxValue" serializeAs="String">
                <value />
            </setting>
            <setting name="outxUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="outyValue" serializeAs="String">
                <value />
            </setting>
            <setting name="outyUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="outfxValue" serializeAs="String">
                <value />
            </setting>
            <setting name="outfxUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="outfyValue" serializeAs="String">
                <value />
            </setting>
            <setting name="outfyUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="outtotalLineLengthValue" serializeAs="String">
                <value />
            </setting>
            <setting name="outtotalLineLengthUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="outclTotalValue" serializeAs="String">
                <value />
            </setting>
            <setting name="outclTotalUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="outcdTotalValue" serializeAs="String">
                <value />
            </setting>
            <setting name="outcdTotalUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="outfDragValue" serializeAs="String">
                <value />
            </setting>
            <setting name="outfDragUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="outfLiftValue" serializeAs="String">
                <value />
            </setting>
            <setting name="outfLiftUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="outlineForceValue" serializeAs="String">
                <value />
            </setting>
            <setting name="outlineForceUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="outkLineValue" serializeAs="String">
                <value />
            </setting>
            <setting name="outkLineUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="outlineDiameterValue" serializeAs="String">
                <value />
            </setting>
            <setting name="outlineDiameterUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="outlineOnWinchValue" serializeAs="String">
                <value />
            </setting>
            <setting name="outlineOnWinchUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="outlengthToPlaneFromPulleyValue" serializeAs="String">
                <value />
            </setting>
            <setting name="outlengthToPlaneFromPulleyUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="outlineAreaValue" serializeAs="String">
                <value />
            </setting>
            <setting name="outlineAreaUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="outlineDragValue" serializeAs="String">
                <value />
            </setting>
            <setting name="outlineDragUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="outfTotalDragValue" serializeAs="String">
                <value />
            </setting>
            <setting name="outfTotalDragUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="outdeltaLineLengthValue" serializeAs="String">
                <value />
            </setting>
            <setting name="outdeltaLineLengthUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="outwindSpeedValue" serializeAs="String">
                <value />
            </setting>
            <setting name="outwindSpeedUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="outphaseValue" serializeAs="String">
                <value />
            </setting>
            <setting name="outphaseUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="outgammaValue" serializeAs="String">
                <value />
            </setting>
            <setting name="outgammaUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="outtimeValue" serializeAs="String">
                <value />
            </setting>
            <setting name="outtimeUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="outrhoValue" serializeAs="String">
                <value />
            </setting>
            <setting name="outrhoUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="outpsiValue" serializeAs="String">
                <value />
            </setting>
            <setting name="outpsiUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="outvelAngValue" serializeAs="String">
                <value />
            </setting>
            <setting name="outvelAngUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="outattAngValue" serializeAs="String">
                <value />
            </setting>
            <setting name="outattAngUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="outtemperatureValue" serializeAs="String">
                <value />
            </setting>
            <setting name="outtemperatureUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="outnuValue" serializeAs="String">
                <value />
            </setting>
            <setting name="outnuUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="outReValue" serializeAs="String">
                <value />
            </setting>
            <setting name="outReUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="outflapPosValue" serializeAs="String">
                <value />
            </setting>
            <setting name="outflapPosUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="outcdLineValue" serializeAs="String">
                <value />
            </setting>
            <setting name="outcdLineUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="outmomentOnWinchDrumValue" serializeAs="String">
                <value />
            </setting>
            <setting name="outmomentOnWinchDrumUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="outdrumDiameterValue" serializeAs="String">
                <value />
            </setting>
            <setting name="outdrumDiameterUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="outsValue" serializeAs="String">
                <value />
            </setting>
            <setting name="outsUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="outairSpeedValue" serializeAs="String">
                <value />
            </setting>
            <setting name="outairSpeedUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="outairSpeedXValue" serializeAs="String">
                <value />
            </setting>
            <setting name="outairSpeedYValue" serializeAs="String">
                <value />
            </setting>
            <setting name="outairSpeedYUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="outgroundSpeedValue" serializeAs="String">
                <value />
            </setting>
            <setting name="outgroundSpeedUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="outairSpeedXUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="varyMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="varyMax" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="varySteps" serializeAs="String">
                <value />
            </setting>
            <setting name="varyParameter" serializeAs="String">
                <value />
            </setting>
            <setting name="poissonRatioValue" serializeAs="String">
                <value />
            </setting>
            <setting name="poissonRatioUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="outverticalWindSpeedValue" serializeAs="String">
                <value />
            </setting>
            <setting name="outverticalWindSpeedUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="outhorisontalWindSpeedValue" serializeAs="String">
                <value />
            </setting>
            <setting name="outhorisontalWindSpeedUnit" serializeAs="String">
                <value />
            </setting>
            <setting name="lastVersion" serializeAs="String">
                <value />
            </setting>
        </SailPlaneLaunch.My.MySettings>
    </userSettings>
</configuration>
